<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glw.dao.MyAppealMapper">
    <select id="listMyAppealByStudentId" resultType="map">
      SELECT * FROM (
          SELECT
            type AS type, `desc` AS `desc`, time AS time, status AS status
            FROM baseinfo_appeal  WHERE student_id = #{studentId}
            UNION ALL
          SELECT
            type AS type, `desc` AS `desc`, time AS time, status AS status
            FROM score_appeal  WHERE student_id = #{studentId}
          UNION ALL
          SELECT
            type AS type, `desc` AS `desc`, time AS time, status AS status
            FROM credit_appeal  WHERE student_id = #{studentId}
         )t
    </select>
</mapper>